.grid-item__background {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../../img/headerbg.png") center / cover no-repeat;
    mix-blend-mode: color-burn;
    z-index: 0;
}