.grid-item {
    background-color: #E9DED4;
    padding: 20px 20px 20px 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
}
@media (max-width: 375px) {
    .grid-item {
        flex: 0 0 100%;
        max-width: 375px;
        font-size: 18px;
        padding: 60px 20px 30px 20px;
    }
}